{% extends 'admin/layout.html.twig' %}
{% block title %}Rubros{% endblock %}
{% block buttons %}
    <a class="btn btn-success" href="{{ path('admin_rubro_new') }}">Nuevo</a>
{% endblock %}
{% block body %}
    {% if rubroAll is not empty %}
        <table class="table" id="table">
            <thead>
            <tr>
                <th class="bdwT-0">Id</th>
                <th class="bdwT-0">Rubro</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for r in rubroAll %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.rubro }}</td>
                    <td class="fit"><a class="btn btn-primary" href="{{ path('admin_rubro_edit', { 'id' : r.id }) }}">Editar</a></td>
                    <td class="fit"><a class="btn btn-danger" href="{{ path('admin_rubro_delete', { 'id' : r.id }) }}">Borrar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-light">No hay rubro.</div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
{% endblock %}